
a {
    color: #0D6F3B;
    text-decoration: none;
}
.fc-event-main {
    background-color: #0D6F3B;
    border: solid 1px;
}
.fc-event-main :hover {
    background-color: #0b572f
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
}



