
a {
    color: #871e1e;
    text-decoration: none;
}
.fc-event-main {
    background-color: #871e1e;
    border: solid 1px;
}
.fc-event-main :hover {
    background-color: #871717;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
}



