
a {
    color: #0D6F3B;
    text-decoration: none;
}
.fc-event-main {
    background-color: rgba(0, 110, 167, 0.9);
    border: solid 1px;
}
.fc-event-main :hover {
    background-color: rgba(0, 110, 167, 0.5)
}
